<style>
  i.fab.fa-facebook-f {
    color: #3b5998;
    font-size: 28px;
    padding: 12px;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s;
    display: flex;
    gap: 20px;           /* spacing between icons */
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
  }

  i.fab.fa-facebook-f:hover {
    background-color: #3b5998; /* blue on hover */
    color: white;
  }
</style>
<style>
  i.fab.fa-instagram {
    color: #E4405F;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s;
    display: flex;
    gap: 20px;                     /* spacing between icons */
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
  }

  i.fab.fa-instagram:hover {
    background-color: #E4405F; /* blue on hover */
    color: white;
  }
</style>
<style>
  i.fab.fa-x-twitter {
    color: #000; /* X logo is black */
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s;
    display: flex;
    gap: 20px;                      /* spacing between icons */
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
  }
  i.fab.fa-x-twitter:hover {
    background-color: black;
    color: white;
  }
</style>

















